<!-- <h1>{{title}}</h1> -->
<app-nav></app-nav>

<!-- <app-home></app-home> -->
<router-outlet></router-outlet>

<!-- <ul>
    <li *ngFor="let user of users">
        {{user.id}} - {{user.userName}}
    </li>
</ul> -->
<!-- <div ngbDropdown>
    <button ngbDropdownToggle type="button" class="btn btn-outline-primary" id="dropdown1" >Toggle dropdown</button>
    <div ngbDropdownMenu aria-labelledby="dropdown1">
      
      <a ngbDropdownItem>Edit User</a>
      <a ngbDropdownItem>Log Out</a>
    </div>
 </div> -->